<div class=" center-block">  
  <div clas='form-group'>
    <h1 class="text-center">Acceder</h1>    
    <%= form_tag sessions_path do |form| %>
      <div class="field">
        <label>Email</label>
        <%= text_field_tag :email, "", class:'form-control' %>
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <%= password_field_tag :password, "", class:'form-control' %>
      </div>
      <div class="field">
        <%= submit_tag "Entrar", class:'btn btn-primary'%>   
      </div>
    <% end %>
    <div>
    <p><%= link_to "Sign Up", signup_path, class:"secundary-text badge badge-light text-decoration-none" %></p>
    </div>
  </div>
</div>