<%= form_with(model: user, local: true) do |form| %>
  <h4 id='msg_error'></h4> 
  <h5 id='pass_error_msg'></h5>
  <h5 id='rfc_error_msg'></h5>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :rfc %>
    <%= form.text_field :rfc %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
