<% if @sucursales.all.count != 0 %>
  <h1 class='text-center mt-3'>Sucursales Actuales</h1>
  <br/>
  <div class='container' id='main_table'>
      <table class='table text-center'>
        <thead>
          <tr>
            <th>Sucursal</th>
            <th>Dirreccion</th>
            <th>CP</th>
            <th>No. Empleados</th>
            <th>Editar</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @sucursales.each do |sucursal| %>
            <tr>
              <td><%= sucursal.sucursal_name %></td>
              <td><%= sucursal.sucursal_add %></td>            
              <td><%= sucursal.zip_code %></td>
              <td><%= sucursal.empleados.all.count %></td>             
              <td><a href='/sucursals/<%= sucursal.id%>/edit'>Editar</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%=link_to "Descargar PDF", pdf_path(format: :pdf)%>
  </div>
  <%else%>
    <div class='container'>
      <br/>
      <h1 class='text-center'>Crear tu primera sucursal</h1>
      <br/>
      <div class='d-flex justify-content-center'>
        <a href='/sucursals/new' class='btn btn-lg btn-success text-center'>Haz Clic Aqui</a>
      </div>      
    </div>
<%end%>
