<%
=begin%>
 <h1>Empleados</h1>
<table>
  <thead>
    <tr>
      <th>Nombre de empleado</th>
      <th>RFC</th>
      <th>Puesto</th>
      <th>Sucursal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @empleados.each do |empleado| %>
      <tr>
        <td><%= empleado.empleado_name %></td>
        <td><%= empleado.empleado_rfc %></td>
        <td><%= empleado.empleado_puesto %></td>
        <td><%= empleado.sucursal.sucursal_name %></td>

        <td><%= link_to 'Editar', edit_empleado_path(empleado) %></td>
        <td><%= link_to 'Eliminar', empleado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href='/empleados/new'>Registrar Empleado</a> 
<%
=end%>
