<div class='text-center'>
  <h1>Sucursales</h1>
</div>

<div class="container">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Nombre de Sucursal</th>      
      <th>Dirrecion</th>
      <th>CP</th>      
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @sucursals.each do |user| %>
      <tr>
        <td><%= user.sucursal_name %></td>
        <td><%= user.sucursal_add %></td>
        <td><%= user.zip_code %></td>       
        <td><%= link_to 'Editar', edit_sucursal_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href='/sucursals/new' class="text-decoration-none btn btn-sm btn-outline-primary">Nueva Sucursal</a>
</div>

<br>