<h1>Sucursales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre de Sucursal</th>      
      <th>Dirrecion</th>
      <th>CP</th>
      <%
=begin%>
 <th>Company name</th> 
<%
=end%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sucursals.each do |user| %>
      <tr>
        <td><%= user.sucursal_name %></td>
        <td><%= user.sucursal_add %></td>
        <td><%= user.zip_code %></td>
        <td colspan='3'></td>        
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href='/sucursals/new'>Nueva Sucursal</a>

<br>