<div class='text-center'>
  <h1>Sucursales</h1>
</div>

<div class="container">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Nombre de Sucursal</th>      
      <th>Dirrecion</th>
      <th>CP</th>      
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>

  <tbody>
    <% @sucursals.each do |sucursal| %>
      <tr>
        <td><%= sucursal.sucursal_name %></td>
        <td><%= sucursal.sucursal_add %></td>
        <td><%= sucursal.zip_code %></td>       
        <td><%= link_to 'Editar', edit_sucursal_path(sucursal) %></td>
        <td><%= link_to 'Eliminar', sucursal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href='/sucursals/new' class="text-decoration-none btn btn-sm btn-outline-primary">Nueva Sucursal</a>
<%= link_to "Exportar Sucursales a Excel", sucursals_path(format: "xlsx") %>
</div>

<br>